*.swp
*.gz
*,v
git
igp_*

pub/System/MediaElementPlugin/mediaelement-and-player.js
pub/System/MediaElementPlugin/mediaelement.init.js
pub/System/MediaElementPlugin/mediaelement.js
pub/System/MediaElementPlugin/mediaelementplayer.css
pub/System/MediaElementPlugin/mediaelementplayer.js
pub/System/MediaElementPlugin/mejs-skins.css
pub/System/MediaElementPlugin/pkg.css
pub/System/MediaElementPlugin/pkg.js

/MediaElementPlugin.md5
/MediaElementPlugin.sha1
/MediaElementPlugin.tgz
/MediaElementPlugin.txt
/MediaElementPlugin.zip
/MediaElementPlugin_installer
/MediaElementPlugin_installer.pl
