*.swp
*.gz
*,v
git
igp_*

pub/System/MediaElementPlugin/build/*

/MediaElementPlugin.md5
/MediaElementPlugin.sha1
/MediaElementPlugin.tgz
/MediaElementPlugin.txt
/MediaElementPlugin.zip
/MediaElementPlugin_installer
/MediaElementPlugin_installer.pl
